
@font-face {
  font-family: 'SukhumvitSet-Thin';
  src: url('SukhumvitSet-Thin.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SukhumvitSet-Thin';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('SukhumvitSet-Thin.ttf')  format('truetype'), url('SukhumvitSet-Thin.svg#SukhumvitSet-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


