
@font-face {
  font-family: 'ThaiSansNeue-Bold';
  src: url('ThaiSansNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('ThaiSansNeue-Bold.woff') format('woff'), url('ThaiSansNeue-Bold.ttf')  format('truetype'), url('ThaiSansNeue-Bold.svg#ThaiSansNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
